.u-section-1 .u-sheet-1 {min-height: 781px}
.u-section-1 .u-btn-1 {background-image: none; border-style: none; margin: 41px auto 0 123px}
.u-section-1 .u-btn-2 {background-image: none; border-style: none; margin: -45px auto 0 236px}
.u-section-1 .u-btn-3 {background-image: none; border-style: none; margin: -45px auto 0 497px}
.u-section-1 .u-btn-4 {background-image: none; border-style: none; margin: -45px 366px 0 auto}
.u-section-1 .u-btn-5 {background-image: none; border-style: none; margin: -45px 244px 0 auto}
.u-section-1 .u-btn-6 {background-image: none; border-style: none; margin: -45px 129px 0 auto}
.u-section-1 .u-group-1 {width: 324px; min-height: 533px; height: auto; margin: 122px 25px 0 auto}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-image-1 {height: 158px; margin: 0 auto 0 0}
.u-section-1 .u-text-1 {font-weight: 700; margin: 20px 0 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-text-3 {font-weight: 700; margin: 27px 20px 0 0}
.u-section-1 .u-text-4 {font-weight: 700; margin: 20px auto 0 0}
.u-section-1 .u-btn-7 {background-image: none; border-style: none; margin: 33px auto 0}
.u-section-1 .u-group-2 {width: 324px; min-height: 533px; margin: -533px 391px 0 auto}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-2 {height: 158px; margin: 0 auto 0 0}
.u-section-1 .u-text-5 {font-weight: 700; margin: 20px 0 0}
.u-section-1 .u-text-6 {margin: 20px 0 0}
.u-section-1 .u-text-7 {font-weight: 700; margin: 27px 20px 0 0}
.u-section-1 .u-text-8 {font-weight: 700; margin: 20px auto 0 0}
.u-section-1 .u-btn-8 {background-image: none; border-style: none; margin: 33px auto 0}
.u-section-1 .u-group-3 {width: 324px; min-height: 533px; margin: -533px auto 41px 61px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-3 {height: 158px; margin: 0 auto 0 0}
.u-section-1 .u-text-9 {font-weight: 700; margin: 20px 0 0}
.u-section-1 .u-text-10 {margin: 20px 0 0}
.u-section-1 .u-text-11 {font-weight: 700; margin: 27px 20px 0 0}
.u-section-1 .u-text-12 {font-weight: 700; margin: 20px auto 0 0}
.u-section-1 .u-btn-9 {background-image: none; border-style: none; margin: 33px auto 0} 

@media (max-width: 1199px){ .u-section-1 .u-btn-1 {margin-left: 0}
.u-section-1 .u-btn-2 {margin-left: 36px}
.u-section-1 .u-btn-3 {margin-left: 297px}
.u-section-1 .u-btn-4 {margin-right: 166px}
.u-section-1 .u-btn-5 {margin-right: 44px}
.u-section-1 .u-btn-6 {margin-right: 0}
.u-section-1 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-3 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-btn-2 {margin-left: 0}
.u-section-1 .u-btn-3 {margin-left: 77px}
.u-section-1 .u-btn-4 {margin-right: 0}
.u-section-1 .u-btn-5 {margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-btn-3 {margin-left: 0}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-2 {margin-right: 216px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-group-1 {margin-right: 16px}
.u-section-1 .u-group-2 {margin-right: 16px}
.u-section-1 .u-group-3 {margin-left: 16px} }.u-section-2 .u-sheet-1 {min-height: 589px}
.u-section-2 .u-group-1 {width: 324px; min-height: 533px; height: auto; margin: 36px 20px 0 auto}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {height: 158px; margin: 0 auto 0 0}
.u-section-2 .u-text-1 {font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-2 {margin: 20px 0 0}
.u-section-2 .u-text-3 {font-weight: 700; margin: 27px 20px 0 0}
.u-section-2 .u-text-4 {font-weight: 700; margin: 20px auto 0 0}
.u-section-2 .u-btn-1 {background-image: none; border-style: none; margin: 33px auto 0}
.u-section-2 .u-group-2 {width: 324px; min-height: 533px; height: auto; margin: -533px 391px 0 auto}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {height: 158px; margin: 0 auto 0 0}
.u-section-2 .u-text-5 {font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-6 {margin: 20px 0 0}
.u-section-2 .u-text-7 {font-weight: 700; margin: 27px 20px 0 0}
.u-section-2 .u-text-8 {font-weight: 700; margin: 20px auto 0 0}
.u-section-2 .u-btn-2 {background-image: none; border-style: none; margin: 33px auto 0}
.u-section-2 .u-group-3 {width: 324px; min-height: 533px; height: auto; margin: -533px auto 20px 54px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-image-3 {height: 158px; margin: 0 auto 0 0}
.u-section-2 .u-text-9 {font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-text-10 {margin: 20px 0 0}
.u-section-2 .u-text-11 {font-weight: 700; margin: 27px 20px 0 0}
.u-section-2 .u-text-12 {font-weight: 700; margin: 20px auto 0 0}
.u-section-2 .u-btn-3 {background-image: none; border-style: none; margin: 33px auto 0} 

@media (max-width: 1199px){ .u-section-2 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-2 {margin-right: 216px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-group-1 {margin-right: 16px}
.u-section-2 .u-group-2 {margin-right: 16px}
.u-section-2 .u-group-3 {margin-left: 16px} }.u-section-3 .u-sheet-1 {min-height: 106px}

.pagination {
    display: inline-block;
    text-align: right;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    text-align: right;
  }